<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Cher organisateur, tu as une résa pour l'événement "<%= @attendance.event.title %>"" !</h1>
    <p>
      <%= @user.first_name %> s'est inscrit à l'événement en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Je t'envoie cet email à ton adresse <%= @attendance.event.administrator.email %> pour t'en informer
    </p>
    <p> À très vite sur nameless-hollows-65115.herokuapp.com !
  </body>
</html>

